.DS_Store

venv/
secret/

terraform/**/.terraform
terraform.tfstate*
terraform.tfvars
terraform/**/*.lock.hcl
terraform.*.log

inventory.yaml
ansible/playbooks/tmp
ansible/playbooks/roles/sap_storage
ansible/playbooks/go.sh
ansible/playbooks/destroy.sh
ansible/playbooks/vars/azure_hana_media.yaml
variables.sh
