venv/
secret/
inventory.yaml
terraform/**/.terraform
terraform.tfstate*
terraform.tfvars
ansible/playbooks/tmp
ansible/playbooks/roles/sap_storage
.DS_Store
.terraform.lock.hcl
ansible/playbooks/go.sh
ansible/playbooks/destroy.sh
ansible/playbooks/vars/azure_hana_media.yaml
terraform/**/*.lock.hcl
variables.sh
